{% for gopher in site.data.gophers[include.data.country_short] %}
  <li class="gopher" data-state="{{include.data.gophers[gopher.id]}}" tabindex="0" itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
    <h3 class="gopher-name" itemprop="performer" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{gopher.name}}</span></h3>
    <meta itemprop="name" content="Groundhog Day, {{include.data.year}} in {{gopher.adr.locality}}, {{gopher.adr.region}}">
    <p class="gopher-location" itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="addressLocality">{{gopher.adr.locality}}</span>,
      <span itemprop="addressRegion">{{gopher.adr.region}}</span>
      <meta itemprop="addressCountry" content="{{include.data.country}}">
    </p>
    <div class="gopher-icon">
      <div class="gopher-body gopher-{{gopher.colour}}">
        {% case include.data.gophers[gopher.id] %}
          {% when 'shadow' %}
            Saw his shadow—more winter is coming.
          {% when 'no-shadow' %}
            Didn’t see his shadow—spring’s on the way.
          {% when 'still-hibernating' %}
            Hasn’t woken up yet.
        {% endcase %}
      </div>
      <div class="gopher-ground"></div>
      <div class="gopher-shadow"></div>
    </div>
  </li>
{% endfor %}
