@import 'nib'

@font-face
  font-family 'LeagueGothic'
  src url('/theme/fonts/league-gothic.eot')
  src url('/theme/fonts/league-gothic.eot?#iefix') format('embedded-opentype'), url('/theme/fonts/league-gothic.woff') format('woff'), url('/theme/fonts/league-gothic.ttf') format('truetype'), url('/theme/fonts/league-gothic.svg#LeagueGothicRegular') format('svg')
  font-weight normal
  font-style normal

*
  box-sizing border-box

html
  margin 0
  padding 0

  background #5b554b url("/theme/img/bg.jpg") no-repeat center top

body
  margin 0 auto
  min-width 240px
  max-width 52em
  padding 0 10px

  color #fff
  font normal 100.01%/1.375 sans-serif

img
  margin 0
  padding 0

  border 0

a
a:link
a:visited
  color #fff

h1
  margin 0.75em 0

  color #ebe8c5
  font normal 3em/1 "LeagueGothic", sans-serif
  text-align center

h2
  margin 0 0 1em
  padding 0

  color #ebe8c5
  font normal 3em/1 "LeagueGothic", sans-serif
  text-align center

h2 a
h2 a:link
h2 a:visited
  color #ebe8c5
  text-decoration none

h3
  margin 0
  padding 0

  font-weight normal
  font-size 1.125em

p
  margin 0
  padding 0

  color #ccc
  font italic normal 1em Georgia,sans-serif

.logo-link
  display block
  margin 0 auto
  max-width 475px
  width 100%

.logo-img
  display block
  width 100%

.lede
  margin 0 0 0.75em
  padding 0 0 0.75em

  border-bottom 1px solid #878176

  color #fff
  font normal 3em/1 "LeagueGothic", sans-serif
  text-align center

.gopher-group
  clear both
  margin 2.3em auto
  overflow hidden
  padding 0
  position relative

  border-bottom 1px solid #878176

.gopher-list
  margin 0 -10px
  padding 0

  list-style-type none

  text-align center

.gopher
  display inline-block
  margin 0 0 3em
  min-width 220px
  padding 200px 10px 0
  position relative

  text-align center

.gopher-icon
  height 170px
  left 50%
  margin 0 0 0 -100px
  overflow hidden
  position absolute
  top 0
  width 200px

.gopher-ground
  height 50px
  padding 0
  position absolute
  top 120px
  width 200px

  background transparent url("/theme/img/ground.svg") no-repeat 0 0

.gopher-body
  height 152px
  overflow hidden
  position absolute
  width 800px
  // z-index 100

  background transparent url("/theme/img/body.svg") no-repeat 0 130px
  transition background-position 250ms ease-out

  text-indent -999em

.gopher:hover .gopher-body
.gopher:focus .gopher-body
.gopher:active .gopher-body
  background-position 0 108px

.gopher-white
  left -200px

.gopher-light
  left -400px

.gopher-grey
  left -600px

/*
.gopher:hover .gopher-icon
  background-position left -200px

.gopher:hover .ghoper-white
  background-position -200px -200px

.gopher:hover .gopher-light
  background-position -400px -200px

.gopher:hover .gopher-grey
  background-position -600px -200px

.gopher[data-state="shadow"] .gopher-icon
  background-position left -600px

.gopher[data-state="shadow"] .gopher-white
  background-position -200px -600px

.gopher[data-state="shadow"] .gopher-light
  background-position -400px -600px

.gopher[data-state="shadow"] .gopher-grey
  background-position -600px -600px

.gopher[data-state="no-shadow"] .gopher-icon
  background-position left -400px

.gopher[data-state="no-shadow"] .gopher-white
  background-position -200px -400px

.gopher[data-state="no-shadow"] .gopher-light
  background-position -400px -400px

.gopher[data-state="no-shadow"] .gopher-grey
  background-position -600px -400px
  */

.thomasjbradley
.thomasjbradley:link
.thomasjbradley:visited
  display block
  height 31px
  margin -1.375em auto 1.375em
  overflow hidden
  padding 0
  width 17px

  background transparent url("/theme/img/thomasjbradley.png") no-repeat left top

  text-indent -999em

.thomasjbradley:focus
.thomasjbradley:hover
.thomasjbradley:active
  background-position right top

.other-years-wrap
  padding-bottom 2.6875em

  color #ccc
  font italic normal 1em Georgia,sans-serif
  text-align center

.other-years
  display inline
  margin 0
  padding 0

  font-family sans-serif
  font-style normal
  list-style-type none

.other-years li
  display inline
  margin 0
  padding 0

.other-years li:after
  content ", "

.other-years li:last-child:after
  content ""
