@font-face {
  font-family: "LeagueGothic";
  src: url("/theme/fonts/League_Gothic.eot");
  src: local("League Gothic Regular"), local("LeagueGothic"), url("/theme/fonts/League_Gothic.woff") format("woff"), url("/theme/fonts/League_Gothic.ttf") format("truetype"), url("/theme/fonts/League_Gothic.svg#LeagueGothic") format("svg");
  }

html {
  margin: 0;
  padding: 0;

  background: #5b554b url("/theme/img/bg.jpg") no-repeat center top;
  }

body {
  margin: 0;
  padding: 0;

  color: #fff;
  font: normal 100.01%/1.375 sans-serif;
  }

img {
  margin: 0;
  padding: 0;

  border: 0;
}

a,
a:link,
a:visited {
  color: #fff;
}

h1 {
  color: #ebe8c5;
  font: normal 3em/1 "LeagueGothic", sans-serif;
  text-align: center;
  }

div {
  clear: both;
  margin: 1.375em auto 2.75em;
  overflow: hidden;
  padding: 0 0 6em;
  position: relative;
  width: 810px;

  border-bottom: 1px solid #878176;
  }

h2 {
  bottom: 0.5em;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  color: #ebe8c5;
  font: normal 3em/1 "LeagueGothic", sans-serif;
  text-align: center;
  }

h2 a,
h2 a:link,
h2 a:visited {
  color: #ebe8c5;
  text-decoration: none;
  }

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
  }

ul li {
  display: inline;
  float: left;
  margin: 10px 10px 1.375em;
  padding: 200px 0 0;
  position: relative;
  width: 250px;

  text-align: center;
  }

li span {
  display: block;
  height: 200px;
  left: 25px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 200px;

  background: transparent url("/theme/img/groundhogs.png") no-repeat left top;

  text-indent: -999em;
  }

li span.white {
  background-position: -200px top;
  }

li span.light {
  background-position: -400px top;
  }

li span.grey {
  background-position: -600px top;
  }

li:hover span {
  background-position: left -200px;
  }

li:hover span.white {
  background-position: -200px -200px;
  }

li:hover span.light {
  background-position: -400px -200px;
  }

li:hover span.grey {
  background-position: -600px -200px;
  }

li.shadow span {
  background-position: left -600px;
  }

li.shadow span.white {
  background-position: -200px -600px;
  }

li.shadow span.light {
  background-position: -400px -600px;
  }

li.shadow span.grey {
  background-position: -600px -600px;
  }

li.no-shadow span {
  background-position: left -400px;
  }

li.no-shadow span.white {
  background-position: -200px -400px;
  }

li.no-shadow span.light {
  background-position: -400px -400px;
  }

li.no-shadow span.grey {
  background-position: -600px -400px;
  }

h3 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 1.125em;
  }

p {
  margin: 0;
  padding: 0;

  color: #ccc;
  font: italic normal 1em Georgia,sans-serif;
  }

p.intro {
  margin: 1.375em 0 0;
  padding: 0;

  color: #fff;
  font: normal 3em/1 "LeagueGothic", sans-serif;
  text-align: center;
  }

a.thomasjbradley,
a.thomasjbradley:link,
a.thomasjbradley:visited {
  display: block;
  height: 31px;
  margin: -1.375em auto 1.375em;
  overflow: hidden;
  padding: 0;
  width: 17px;

  background: transparent url("/theme/img/thomasjbradley.png") no-repeat left top;

  text-indent: -999em;
  }

a.thomasjbradley:focus,
a.thomasjbradley:hover,
a.thomasjbradley:active {
  background-position: right top;
  }

.other-years-wrap {
  padding-bottom: 2.6875em;

  color: #ccc;
  font: italic normal 1em Georgia,sans-serif;
  text-align: center;
}

.other-years {
  display: inline;
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  font-style: normal;
  list-style-type: none;
}

.other-years li {
  display: inline;
  margin: 0;
  padding: 0;
}

.other-years li:after {
  content: ", ";
}

.other-years li:last-child:after {
  content: "";
}
