<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Groundhog Day Roundup—Feb. 2nd, {{site.time | date: "%Y"}}—Canada &amp; United States</title>
  <meta name="description" content="A roundup of the {{site.time | date: "%Y"}} Groundhog Day results from across Canada and the United States.">
  <meta name="author" content="Thomas J Bradley">
  <meta name="copyright" content="Thomas J Bradley">
  <link rel="author" content="https://plus.google.com/112719250789350308611">
  <link href="/css/groundhog-day-roundup.css" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="/js/modernizr.min.js"></script>
</head>
<body itemscope itemtype="http://schema.org/Event">

<meta itemprop="name" content="Groundhog Day, {{site.time | date: "%Y"}}">
<meta itempropproperty="description" content="A roundup of the {{site.time | date: "%Y"}} Groundhog Day results from across Canada and the United States.">

<h1 class="logo"><a href="/" class="logo-link"><img class="logo-img" src="/img/logo.svg" alt="Groundhog Day Roundup"></a></h1>

<p class="lede"><time itemprop="startDate" datetime="{{site.time | date: "%Y"}}-02-02">Feb. 2nd, {{site.time | date: "%Y"}}</time></p>

{% include gopher-group.html country="Canada" %}
{% include gopher-group.html country="United States" %}

<div class="other-years-wrap">
  Other Years:
  <ol class="other-years">
    <?php foreach ($other_years as $other_year) : ?>
    <li><a href="/<?=$other_year?>"><?=$other_year?></a></li>
    <?php endforeach; ?>
  </ol>
</div>

<div class="social">
  <a href="http://twitter.com/ghogdayroundup" rel="external"><i class="icon i-twitter"></i>@ghogdayroundup</a>
</div>

<a href="http://thomasjbradley.ca" rel="external" class="thomasjbradley" title="Designed and developed by Thomas J Bradley">Thomas J Bradley</a>

<script>
  Modernizr.load({
    test: Modernizr.inlinesvg
    , nope: ['/css/no-svg.css']
  });

  if (Modernizr.cssanimations) {
    document.body.className += ' js-gopher-animations';

    setTimeout(function () {
      document.body.className = document.body.className.replace(/js-gopher-animations/, '');
    }, 700);

    setTimeout(function () {
      document.body.className += ' js-gopher-shadow-start';
    }, 400);

    var gophers = document.getElementsByClassName('gopher')

    for (var i = 0, t = gophers.length; i < t; i++) {
      gophers[i].addEventListener('touchstart', function (e) {
        this.focus();
      }, false);
    }
  }

  if (!Modernizr.inlinesvg) {
    ;(function () {
      var imgs = document.getElementsByTagName('img')
        , totalImgs = imgs.length
        , i = 0

        for (i = 0; i < totalImgs; i++) {
          imgs[i].src = imgs[i].src.replace(/svg$/, 'png')
        }
    }())
  }

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-561679-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
